body {
  background-color: #031121;
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

.MuiTypography-root.MuiTypography-h4 {
  color: #031121;
}

.MuiTypography-root.MuiTypography-h5 {
  color: #031121;
}

.MuiTypography-root.MuiTypography-h6 {
  color: #031121;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
  color: #031121;
}

.MuiChip-label {
  color: #031121;
  font-size: 0.95rem;
}

.MuiChip-root.MuiChip-clickable {
  background-color: #ffe300;
}

.MuiCard-root {
  margin: auto;
}

.MuiCardActions-root {
  justify-content: center;
  margin-bottom: 16px;
}

.MuiChip-root {
  margin-right: 16px;
  margin-left: 16px;
}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
  box-shadow: none;
}

.MuiTextField-root {
  width: 250px;
}

/* .MuiToolbar-root.MuiToolbar-regular
  MTableToolbar-root-300
  MuiToolbar-gutters */
@media all and (max-width: 800px) {
  .MuiTextField-root {
    width: 175px;
  }
  .MuiTypography-root.MuiTypography-h4 {
    font-size: 1.75rem;
  }
  .MuiTypography-root.MuiTypography-h6 {
    font-size: 1rem;
  }
  .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd {
    font-size: 1rem;
  }
  .material-icons.MuiIcon-root.MuiIcon-fontSizeSmall {
    font-size: 1rem;
  }
  .MuiToolbar-root.MuiToolbar-regular {
    display: block;
  }
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-8 {
    max-width: 77.5%;
    flex-basis: 77.5%;
  }
}

@media all and (max-width: 500px) {
  .MuiTextField-root {
    width: 100px;
  }
  .MuiGrid-root.MuiGrid-container.MuiGrid-justify-xs-flex-end {
    justify-content: center;
  }
  .MuiTypography-root.MuiTypography-h4 {
    font-size: 1.25rem;
  }
  .MuiTypography-root.MuiTypography-h6 {
    font-size: 0.75rem;
  }
  .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd {
    font-size: 0.75rem;
  }
  .material-icons.MuiIcon-root.MuiIcon-fontSizeSmall {
    font-size: 0.75rem;
  }
  .material-icons.MuiIcon-root {
    font-size: 1.1rem;
  }
  .MuiToolbar-root.MuiToolbar-regular {
    display: block;
    padding: 0;
  }
  .MuiTableCell-root.MuiTableCell-alignLeft.MuiTableCell-body {
    padding: 5px;
    font-size: 0.75rem;
  }
  .MuiTableCell-root.MTableHeader-header-677.MuiTableCell-alignLeft.MuiTableCell-head {
    padding: 5px;
    font-size: 0.75rem;
  }
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit {
    padding: 5px;
    font-size: 0.75rem;
  }
  .MuiTableCell-root.MTableHeader-header-677.MuiTableCell-paddingCheckbox.MuiTableCell-head {
    padding: 5px;
    font-size: 0.75rem;
  }
  .MuiButtonBase-root.MuiIconButton-root {
    padding: 5px;
    font-size: 0.75rem;
  }
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-8 {
    max-width: 90%;
    flex-basis: 90%;
  }
}
