body {
  background-color: #031121;
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiTypography-root.MuiTypography-h4 {
  color: #031121;
}

.MuiTypography-root.MuiTypography-h5 {
  color: #031121;
}

.MuiTypography-root.MuiTypography-h6 {
  color: #031121;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
  color: #031121;
}

.MuiChip-label {
  color: #031121;
  font-size: 0.95rem;
}

.MuiChip-root.MuiChip-clickable {
  background-color: #ffe300;
}

.MuiCard-root {
  margin: auto;
}

.MuiCardActions-root {
  justify-content: center;
  margin-bottom: 15px;
}

.MuiChip-root.MuiChip-clickable {
  margin-left: 550px;
}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
  box-shadow: none;
}
