body {
  background-color: #031121;
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

.MuiTypography-root.MuiTypography-h4 {
  color: #031121;
}

.MuiTypography-root.MuiTypography-h5 {
  color: #031121;
}

.MuiTypography-root.MuiTypography-h6 {
  color: #031121;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
  color: #031121;
}

.MuiChip-label {
  color: #031121;
  font-size: 0.95rem;
}

.MuiChip-root.MuiChip-clickable {
  background-color: #ffe300;
}

.MuiCard-root {
  margin: auto;
}

.MuiCardActions-root {
  justify-content: center;
  margin-bottom: 16px;
}

.MuiChip-root {
  margin-right: 16px;
  margin-left: 16px;
}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
  box-shadow: none;
}

.MuiTextField-root {
  width: 250px;
}

@media all and (max-width: 800px) {
  .MuiTextField-root {
    width: 175px;
  }
}

@media all and (max-width: 500px) {
  .MuiTextField-root {
    width: 100px;
  }
}
